<a href="https://colab.research.google.com/github/EltonGS/bootcamp_datascience_projeto_3/blob/main/Notebooks/dados_crus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Base de dados do **Brasil.IO** sobre **Covid-19**

### A base de dados utilizados foi extraída do site **Brasil.IO**. A base escolhida foi a **casos_full.csv.gz** que pode ser baixada [aqui](https://brasil.io/dataset/covid19/files/).

### Fonte: https://brasil.io/dataset/covid19/files/

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# importando as bibliotecas que serão usadas
import pandas as pd

In [3]:
# caminho de onde estão os dados utilizados
url = '/content/drive/MyDrive/Colab Notebooks/Bootcamp Data Science/Módulo 3/Arquivos/dados_crus/caso_full.zip'

# lendo o arquivo com os dados que estão comprimidos no padrão zip
dados_totais = pd.read_csv(url, compression='zip')

In [4]:
# visualizando os dados
dados_totais

                 city  city_ibge_code  ... new_confirmed  new_deaths
0          Rio Branco       1200401.0  ...             3           0
1                 NaN            12.0  ...             3           0
2          Rio Branco       1200401.0  ...             0           0
3                 NaN            12.0  ...             0           0
4          Rio Branco       1200401.0  ...             1           0
...               ...             ...  ...           ...         ...
2326091      Tupirama       1721257.0  ...             0           0
2326092    Tupiratins       1721307.0  ...             0           0
2326093  Wanderlândia       1722081.0  ...             0           0
2326094       Xambioá       1722107.0  ...             0           0
2326095           NaN            17.0  ...             0           0

[2326096 rows x 18 columns]

In [5]:
# tamanho dos nossos dados
dados_totais.shape

(2326096, 18)